<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639130957255-1lolsea3la7ohdjfsv1n5eu2tkadpjqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639130957255-1lolsea3la7ohdjfsv1n5eu2tkadpjqh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639130957255-2aiddobofb1p31atggi46e7e9j5o57f6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5kzXLbZgObLhigxQ4BBMfZOB3EIIH5-M</string>
	<key>GCM_SENDER_ID</key>
	<string>639130957255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabbar.expenseflow</string>
	<key>PROJECT_ID</key>
	<string>expenseflow-6e122</string>
	<key>STORAGE_BUCKET</key>
	<string>expenseflow-6e122.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639130957255:ios:f6a1e115e4e7ece3ac95e2</string>
</dict>
</plist>